
body, html, h1, h2, p {
    font-family: 'Open Sans', sans-serif;
}

#about p{
    font-size: 18px; 
    letter-spacing: 0.5px;
}

.name-logo{
    color: black;
    text-decoration: none;
    font-size: 36px;
    margin: 20px 0px 0px 0px;
}

.font-bold {
    font-weight: 700;
}

.font-italics {
    font-style: italic;
}

.section-title {
    font-size: 48px;
    margin: 60px 0px 0px 0px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

.project {
    border: solid 1px black;
    border-radius: 9px;
    background-color: white;
    size: 100%;
    padding: 3px 16px 16px 16px;
    margin-top: 10px;
    margin-right: 0.3%;
    width: 28%;
    display: inline-block;
    color: black;
    text-decoration: none;
}

.project:hover {
    cursor: pointer;
    padding: 7px 20px 20px 20px;
    margin-right: 0px;
    transition: padding 0.4s ease-in-out, margin-right 0.4s ease-in-out;
}

.project:not(:hover) {
    cursor: pointer;
    padding: 3px 16px 16px 16px;
    margin-right: 0.3%;
    transition: padding 0.4s ease-in-out, margin-right 0.4s ease-in-out;
}

.project:active {
    padding: 3px 16px 16px 16px;
    margin-right: 0.3%;
    transition: padding 0.07s ease-in-out, margin-right 0.07s ease-in-out;
}

.project-title {
    font-size: 24px;
    margin: 0px;
}

.project-description {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.javascript {
    background-color: #ff99e6;
}

.html {
    background-color: #ff8080;
}

.css {
    background-color: #bf80ff;
}

.api {
    background-color: #3399ff;
}

.react {
    background-color: #4dffa6;
}

.node {
    background-color: #ff4d94;
}

.project-tags {
    display: flex;
}

.project-tag {
    margin: 0px 8px 0px 0px;
    font-size: 14px;
    border-radius: 2.5px;
    padding: 3px 7px;
}

.columns-3 {
    column-count: 3;
}

li {
    font-size: 18px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px 0px;
}

.footer-title {
    font-size: 36px;
    font-weight: 700;
}

.contact {
    text-align: center;
}

.contact p {
    font-size: 18px;
}

.mail {
    display: inline-flex;
}

.material-icons {
    margin-right: 10px;
}